section {
  background-color: $tab-bacgr-color;
}

// div#pages {
//   width: 100%;
//   min-height: 100vh;
//   padding: 10px;
//   background-color: $tab-bacgr-color;
//   margin-left:20%;
//   margin-top: 50px;
//   // margin-right: -20%;
// margin-left: 20vw;
// }

.sidebar {
  background-color: $menu-left-color;
  position: fixed;
  height: 100vh;
  top: 40px;
}

.top-bar {
  position: fixed;
  right: 0;
  width: 100%;
  background-color: $white-color;
  display: flex;
  border-bottom: 1px solid $menu-left-color;
  z-index: 1;
}

.content-disapear-mobile {
  display: flex;
  justify-content: flex-end;
}

.content {
  position: absolute;
  top: 50px;
  right: 0;
  min-height: 100vh;
}

.general {
  .import-img {
    width: 70%;
    margin: 50px auto;
  }
}

body {
  display: flex;
}

.box {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.box-input {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-top: 1px solid $input-color;
  border-bottom: 1px solid $input-color;
}

.links {
  .h2 {
    border-bottom: 1px solid $input-color;
  }

  button {
    margin: 25px auto;
  }
}

.section-shadow {
  background-color: $white-color;
  margin: 20px auto;
  width: 97%;
  display: flex;
  flex-direction: column;
}

////////////////////////////////////////////////
.personal {
  button {
    margin: 25px auto;
  }

  .form {
    width: 100%;
    margin: auto;
    border-top: 1px solid $input-color;
    border-bottom: 1px solid $input-color;

    .form-section {
      border-bottom: 1px solid $input-color;
      min-width: 300px;
      width: 100%;
    }

    div.input {
      height: 40px;
    }

    .vessel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 30%;
      min-width: 290px;
    }
  }
}
