section {
  background-color: $tab-bacgr-color;

}

.sidebar {
  // width: 188px;
  background-color: $menu-left-color;
  position: fixed;
  // width: 15%;
  height: 100vh;
  top: 40px;
}

.nav-bar {
  position: fixed;
  right: 0;
  width: 100%;

  background-color: $white-color;
  display: flex;
  // justify-content: flex-end;

  border-bottom: 1px solid $menu-left-color;
  z-index: 1;

}

.content-disapear-mobile {
  display: flex;
  justify-content: flex-end;
}

.content {
  position: absolute;
  top: 50px;
  // position: absolute;
  // width: 85%;
  right: 0;
  // left: 0;
  // top: 40px;
  min-height: 100vh;
  // background-color: red;

}

.general {

  // background-color: white;
  // margin: 20px auto;
  // width: 97%;
  // display: flex;
  // flex-direction: column;

  // height: 500px;
  .import-img {
    width: 70%;
    margin: 50px auto;

  }
}

body {
  display: flex;
}

// .double-input {
//   // margin: auto;
// }

.box {
  display: flex;
  justify-content: center;
  padding: 30px;

  // display: none;
  table {
    margin: 0 35px;
  }
}

.box-input {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-top: 1px solid $input-color;
  border-bottom: 1px solid $input-color;
  // max-height: 104px;
  // flex-wrap: nowrap;
}

.links {
  .h2 {
    border-bottom: 1px solid $input-color;
  }

  table {
    margin: auto;
    font-family: $headline-font-size;
  }

  button {
    margin: 25px auto;
  }
}

.section-shadow {
  background-color: $white-color;
  margin: 20px auto;
  width: 97%;
  display: flex;
  flex-direction: column;
}

////////////////////////////////////////////////
.personal {
  button {
    margin: 25px auto;
  }


  .form {
    width: 100%;
    margin: auto;
    border-top: 1px solid $input-color;
    border-bottom: 1px solid $input-color;
    // padding: 40px;

    .form-section {
      border-bottom: 1px solid $input-color;
      min-width: 300px;
      width: 100%;
    }

    div.input {
      height: 40px;
    }


    .vessel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 30%;
      min-width: 290px;
      // label{
      //  display: inline-block;

      // }
      // .input{
      // display: flex;
      // justify-content: flex-end;
      // display: none;
      // margin-left: auto;
      // }
    }
  }
}

/////////////////////////////////////////payout
.payout-details {
  // display: flex;
  margin: 20px auto;
  border-top: none;
  width: 97%;

  h3 {
    margin: 20px 0;
    color: $lighter-color;
  }

  th {
    border-top: none;
    background-color: $white-color;
    pointer-events: none;

    h2 {
      padding-left: 0;
      font-size: 13px;
      // font-weight: bold;
    }

    div {
      height: 30px;
      z-index: 1;
      pointer-events: all;
    }

    &:hover {
      background-color: $white-color;
    }
  }

  td,
  th {
    text-align: left;
    border-bottom: 1px solid $input-color;

    &:last-child {
      text-align: center;
    }
  }
}

////////////////////////
