* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

//////////////////
@media (max-width: 767px) {
  @include grid('sm');

  .space-betwen {
    flex-direction: column;
    align-items: center;

    // width: 90%;
    .box-text {
      display: flex;
      width: 100%;
      flex-direction: column;
      // margin: 0 auto;
      align-items: center;

      textarea,
      select {
        width: 70vw;
        font-family: $roboto-font;
      }

      .box-special {
        width: 100%;
        font-family: $roboto-font;
      }
    }

    .range {
      height: 80px;
    }

  }

  .create-pxl {
    margin: 20px auto;
  }

  #personaldata>div>div>form>div>div {
    margin: 0 auto;
    width: 70%;
  }

  .icon-only {
    height: 40px;
    margin-top: 17px;
  }

  .menu-logo-bar {
    .logo {
      padding-left: 45px;
    }
  }

  .box {
    flex-direction: column;
  }

  table {
    tr .bin {
      filter: $black-svg;
      margin-left: 10px;
    }

    tr .link {
      filter: $orange-svg;
      margin-right: 10px;
    }

    h2 {
      padding-left: 0;
    }
  }

  .double-input {
    width: 175px;
    position: relative;

    input::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 30px;
      left: 130px;
    }

    input.remove {
      &:after {
        content: none;
      }
    }
  }

  .sidebar {
    height: 100%;
    padding-bottom: 30px;
  }

  .hamburger-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-info {
      transform: translateX(calc(50% - 70px));
    }

    ul {
      li {
        text-align: center;
      }

      width: 100%;
    }

    .content-disapear-mobile {
      margin-top: 20px;
      align-items: center;
      background-color: $lighter-color;
      width: 100vw;

      .cell-top-nav {
        border: none;
        justify-content: center;
        width: 25%;

        &:nth-child(2) {
          &:after {
            content: none;
          }
        }

        &:nth-child(1),
        &:nth-child(3) {
          div {
            display: none;
          }

          img:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}
