* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

//////////////////

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@media(max-width: 767px) {
  @include grid('sm');

  #personaldata>div>div>form>div>div {
    // display: none;
    margin: 0 auto;
    // border: 1px red solid;
    width: 70%;

  }


  .double-input {
    width: 175px;

    input.remove {
      &:after {
        content: none;
      }
    }
  }

  .sidebar {
    overflow: scroll;
    height: 100%;
    padding-bottom: 30px;
  }

  .hamburger-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-info {
      transform: translateX(calc(50% - 70px));
    }

    ul {
      li {
        text-align: center;
      }

      width: 100%;
    }

    .content-disapear-mobile {
      margin-top: 20px;
      // flex-direction: column;
      align-items: center;
      background-color: $lighter-color;
      // border-radius: 10%;

      // &:hover{
      //   background-color: red;

      // }


      .cell-top-nav {
        border: none;
        justify-content: start;

        &:nth-child(2) {
          &:after {
            content: none;
          }
        }

        &:nth-child(1),
        &:nth-child(3) {
          // display: none;
          width: 30px;
          overflow: hidden;

          div {
            display: none;
          }

        }
      }

    }
  }
}

@media(min-width: 768px) {
  @include grid('md');

}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');

}
