/* Colors */
$paragraph-color: #333333;
$brand-main-color: #ff0000;
$Headline-color: #979797;
$lighter-color: #5f5959;
$link-color: #56819f;
$button-color: #f58200;
$activ-link-color: #ffa200;
$dot-color: #56819F;
$tab-bacgr-color: #F5F5F2;
$menu-left-color: #191919;
$menu-hover-color: #282828;
$green-dot-color: #04AE00;
$input-color: #E3E3E3;
/* Font sizes */
$paragraph-font-size: 14px;
$headline-font-size: 16px;
$button-font-size: 18px;

/* Fonts */
$brand-font: "Open Sans",Helvetica,Arial;
$paragraph-font: "Open Sans",Helvetica,Arial;
$roboto-font:'Roboto',sans-serif;
$special-font: 'Sedgwick Ave',cursive;
// $test-font: "Open Sans", Roboto, Arial;
