/* Colors */
$paragraph-color: #333333;
$brand-main-color: #ff0000;
$Headline-color: #979797;
$lighter-color: #5f5959;
$link-color: #56819f;
$button-color: #f58200;
$activ-link-color: #ffa200;
$dot-color: #56819F;
$tab-bacgr-color: #F5F5F2;

/* Font sizes */
$paragraph-font-size: 14px;
$headline-font-size: 16px;
$button-font-size: 20px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
// $test-font: "Open Sans", Roboto, Arial;