h1 {
  color: $Headline-color;
  font-weight: lighter;
  font-family: $brand-font;
  text-transform: uppercase;
  font-size: $headline-font-size;
  margin: 10px;
}

h2 {
  font-family: $paragraph-font;
  color: $Headline-color;
  font-size: $paragraph-font-size;
  margin: 10px;
}

p {
  color: $paragraph-color;
  font-family: $paragraph-font;
  font-weight: lighter;
  font-size: $paragraph-font-size;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $activ-link-color;
  }
}

img {
  width: 15px;
  transition: .3s;

  &:hover {
    filter: invert(56%) sepia(100%) saturate(564%) hue-rotate(358deg) brightness(99%) contrast(108%);
  }
}

input[type="date"] {
  padding: 8px;
  width: 170px;
}

input[type='date']::-webkit-clear-button,
input[type='date']::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(/images/icons/calendar.svg) no-repeat;
  width: 10px;
  height: 10px;
  border-width: thin;

  &:hover {
    filter: invert(56%) sepia(100%) saturate(564%) hue-rotate(358deg) brightness(99%) contrast(108%);
  }
}

div {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid black;
  transition: .3s;

  &:hover {
    border-color: $activ-link-color;
  }

  input {
    margin: 0;
    border: none;
    outline-style: none;
  }

  input:after {
    content: "";
    display: block;
    content: '';
    width: 1px;
    height: 20px;
    background-color: $Headline-color;
    left: 45%;
    bottom: 5px;
  }

  input:nth-child(2)::after {
    content: "";
    display: none;
  }

  input.remove::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: none;
    background: url(/images/icons/calendar.svg) no-repeat;
    width: 10px;
    height: 10px;
    border-width: thin;
  }
}

button {
  background-color: $button-color;
  font-family: $brand-font;
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  color: white;
  text-transform: capitalize;
  font-size: $button-font-size;
  transition: .3s;

  &:hover {
    background-color: $activ-link-color;
  }
}

ul {
  width: 15%;
  background-color: $paragraph-color;
  padding-left: 0;

  li {
    padding: 8px;
    padding-left: 15px;
    text-align: left;
    list-style: none;
    box-sizing: border-box;

    // transition: .1s;
    a {
      font-family: $brand-font;
      color: $Headline-color;
      font-size: $paragraph-font-size;

      img {
        width: 10px;
        padding-right: 10px;
        filter: invert(57%) sepia(7%) saturate(0%) hue-rotate(175deg) brightness(102%) contrast(98%);
      }
    }

    &:hover {
      border-left: 4px $button-color solid;
      background-color: $lighter-color;
    }

    &:hover img {
      filter: invert(100%) sepia(7%) saturate(23%) hue-rotate(259deg) brightness(121%) contrast(100%);
    }

    &:hover a {
      color: white;
      margin-left: -4px;
    }
  }
}

.tab {
  padding: 10px 20px;
  font-family: $brand-font;
  border: none;
  display: inline-flex;
  transition: .3s;

  span {
    height: 15px;
    width: 15px;
    background-color: $dot-color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  &:hover {
    background-color: $tab-bacgr-color;
  }
}

.table {
  width: 40%;

  div {
    border-left: none;
    border-right: none;
    border-radius: 0;
    display: flex;
    justify-content: stretch;
    margin-bottom: -1px;
    border-color: gray;
    transition: .3s;

    .link {
      margin-left: auto;
    }

    img {
      margin: 0;
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(53deg) brightness(112%) contrast(101%);
    }

    &:hover {
      background-color: $tab-bacgr-color;

      .link {
        margin-left: auto;
      }

      img {
        margin: 0 10px;
        filter: invert(56%) sepia(100%) saturate(564%) hue-rotate(358deg) brightness(99%) contrast(108%);
      }

      &:hover .bin {
        filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(213deg) brightness(102%) contrast(106%);
      }
    }

    a {
      margin: auto 0 auto 100px;
    }
  }
}
