h1 {
  color: $Headline-color;
  font-weight: lighter;
  font-family: $brand-font;
  text-transform: uppercase;
  font-size: $headline-font-size;
  margin: 10px;
}

h3 {
  padding: 0;
  margin: 0;
  font-family: $roboto-font;
  font-size: $paragraph-font-size;
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.border {
  color: $Headline-color;
}

h2 {
  font-family: $roboto-font;
  color: $Headline-color;
  font-size: $paragraph-font-size;
  padding: 20px;
  font-weight: 600;
  margin: 0;
}

p {
  color: $paragraph-color;
  font-family: $paragraph-font;
  font-weight: lighter;
  font-size: $paragraph-font-size;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $activ-link-color;
  }
}

///////////////svg
img {
  width: 15px;
  transition: .3s;


  // &:hover {
  //   filter: invert(56%) sepia(100%) saturate(564%) hue-rotate(358deg) brightness(99%) contrast(108%);
  // }
}

//////////////input single
// input[type='text'] {

//   background-size: contain;
//   background-repeat: no-repeat;
//   text-indent: 20px;

// }

////////////////double input
.double-input,
.input {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid $input-color;
  transition: .3s;
  margin-right: 15px;
  // margin: 0;
  // padding: 0;

  &:hover {
    border-color: $lighter-color;
  }

  &:hover input::-webkit-calendar-picker-indicator {
    filter: invert(32%) sepia(11%) saturate(189%) hue-rotate(314deg) brightness(98%) contrast(84%);
  }

  input {
    padding: 10px;
    width: 170px;
    margin: 0;
    border: none;
    outline-style: none;
    font-family: $roboto-font;
    font-weight: lighter;
  }

  input::-webkit-clear-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    filter: invert(100%) sepia(0%) saturate(2605%) hue-rotate(19deg) brightness(117%) contrast(78%);
    background: url(/images/icons/calendar.svg) no-repeat;
    width: 10px;
    height: 10px;
    transition: .3s;
  }

  input:after {
    content: "";
    display: block;
    content: '';
    width: 1px;
    height: 20px;
    background-color: $input-color;
    left: 45%;
    bottom: 5px;
  }

  input:nth-child(2)::after {
    content: "";
    display: none;
  }

  input.remove::-webkit-calendar-picker-indicator {
    display: none;
  }
}

////////////btn
.btn {
  background-color: $button-color;
  font-family: $roboto-font;
  font-weight: 300;
  padding: 10px 22px;
  border-radius: 4px;
  border: none;
  color: $white-color;
  font-size: $button-font-size;
  display: inline-flex;
  align-items: center;
  transition: .3s;

  i {
    font-size: $paragraph-font-size;
    margin-right: 5px;
    // font-size: 10px;
    // -webkit-text-stroke: 1px background-color;
    -webkit-text-stroke: 1px $button-color;
  }

  &:hover {
    background-color: $activ-link-color;
  }
}

//line component
.line {
  border-bottom: 1px solid $lighter-color;
}

////////////////nav
.ul {
  padding: 0;
  // overflow: hidden;
  padding-bottom: 40px;


  li {
    padding: 12px;
    // padding-left: 15px;
    text-align: left;
    list-style: none;
    // box-sizing: border-box;

    a {
      font-family: $brand-font;
      color: $Headline-color;
      font-size: $paragraph-font-size;
      // margin-left: 20px;

      img {
        height: 14px;
        width: 16px;
        margin: 0 10px;
        filter: invert(57%) sepia(7%) saturate(0%) hue-rotate(175deg) brightness(102%) contrast(98%);
      }
    }

    &:hover {
      // border-left: 4px $button-color solid;
      background-color: $lighter-color;
      border-left: 4px $button-color solid;
    }

    &:hover img {
      filter: invert(100%) sepia(7%) saturate(23%) hue-rotate(259deg) brightness(121%) contrast(100%);
    }

    &:hover a {
      color: $white-color;
      margin-left: -4px;
    }
  }
}


//////////singups
.tab {
  padding: 10px 20px;
  font-family: $brand-font;
  border: none;
  display: inline-flex;
  transition: .3s;

  span {
    height: 15px;
    width: 15px;
    background-color: $dot-color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
}

.active {
  background-color: $tab-bacgr-color;
}

////////////table
.table {
  // width: 70%;
  border-collapse: collapse;
  border-top: 1px solid $input-color;

  tr {
    transition: .3s;
    border-bottom: 1px solid $input-color;

    img {
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(53deg) brightness(112%) contrast(101%);
    }

    &:hover {
      background-color: $tab-bacgr-color;

      img {
        filter: invert(56%) sepia(100%) saturate(564%) hue-rotate(358deg) brightness(99%) contrast(108%);
      }
    }

    &:hover .bin {
      filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(213deg) brightness(102%) contrast(106%);
    }
  }
}

//table links
.space-between {
  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;

    td a {
      margin-right: 15px;
    }
  }
}

// table numbers
.numbers {
  border-top: none;
  font-family: $roboto-font;
  font-weight: lighter;

  // h2 {
  //   padding-bottom: 5px;
  // }
  td {
    margin-bottom: -10px;
  }
}

//icon-top
.icon {
  width: 60px;
  height: 60px;
  border: 1px $input-color solid;
  border-top: none;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  position: relative;
  border-bottom: none;

  .little-dot {
    height: 6px;
    width: 6px;
    background-color: $button-color;
    border-radius: 50%;
    // display: inline-block;
    position: absolute;
    left: 31px;
    top: 20px;
  }

  &:hover {
    background-color: $tab-bacgr-color;
  }
}

//long-one
.dropdown {
  width: 100%;
  border-bottom: none;

  h2 {
    font-weight: normal;
  }

  img {
    padding: 0 1px;
  }

  .text-inside-long-one {
    p {
      font-family: $roboto-font;
      margin-left: 10px;
      color: $dot-color;
    }
  }
}

/// long one dark
.space-around {
  justify-content: space-around;

  &:hover {
    background-color: transparent;
  }

  .text-inside-long-dark {
    color: $white-color;
    font-family: $special-font;
    font-size: $button-font-size;
  }

  i {
    color: $Headline-color;
    font-size: $button-font-size;
  }
}

//menager
.user-label {
  justify-content: left;
  pointer-events: none;
  border-left: none;

  img {
    width: 43px;
    border-radius: 50%;
    margin-left: 15px;
  }

  .little-dot {
    height: 10px;
    width: 10px;
    background-color: $green-dot-color;
    left: 46px;
    top: 10px;
  }
}

.badges:after {
  content: ' \25CF';
  font-size: 15px;
  color: $button-color;
  position: absolute;
  top: 15px;
  right: 20px;
}

//btn refresh
.icon-only {
  padding: 12px;
  width: 40px;

  img {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(53deg) brightness(112%) contrast(101%);
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////

.date-switch {
  display: inline-flex;
  align-items: center;
  background-color: $white-color;
  border-radius: 3px;
  padding: 5px 10px;
  color: $Headline-color;
  transition: .3s;

  &:hover {
    color: $menu-left-color;
    background-color: $tab-bacgr-color;

    img {
      padding-left: 4px;
      filter: invert(46%) sepia(0%) saturate(32%) hue-rotate(238deg) brightness(95%) contrast(111%);
    }
  }

  h3 {
    padding-right: 4px;
  }

  img {
    padding-left: 4px;
    filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(31deg) brightness(97%) contrast(116%);
  }
}
///////////////////////////////////////////////////

.pagination {
  display: inline-flex;
  margin: 30px auto;
  background-color: $white-color;
}

.pagination a {
  font-family: $roboto-font;
  font-weight: 300;
  color: $link-color;
  padding: 10px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;

  &:last-child {
    color: $Headline-color;
  }

  &:first-child {
    color: $Headline-color;
  }

  &:hover:not(.active) {
    color: $button-color;
  }
}

.pagination a.work {
  font-weight: bolder;
  color: $Headline-color;
  background-color: $tab-bacgr-color;
}

//////////////////////////////modal
/* The Modal (background) */
.modal {
  // display: none; /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px 0;
  border: 1px solid #888;
  width: 80%;

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid $input-color;

    span {
      font-size: 25px;
    }
  }

  .user-label {
    margin-top: 15px;
    // margin-bottom: 15px;

    img {
      width: 63px;
    }
  }

  h4 {
    font-family: $roboto-font;
    font-size: $pop-up-font-size;
    margin: 0;
    font-weight: 500;
    color: $menu-left-color;
    margin-left: 10px;
  }

  .status {

    display: inline-block;
    color: $white-color;
    text-align: center;
    font-family: $roboto-font;
    font-size: $pop-up-status-font-size;

    border-radius: 3px;
    padding: 3px;
    margin-left: 10px;
  }

  .green {
    background-color: #04AE00;
  }

  .gray {
    background-color: #e3e3e3;
  }

  .chat-area {
    border-top: 1px solid $input-color;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 300;
    height: 300px;

    .speech-bubble {
      margin: 15px;
      position: relative;
      background: $input-color;
      border-radius: 2px;
      text-align: center;
      display: inline-block;
      padding: 9px;
      font-family: $roboto-font;
      font-size: $paragraph-font-size;
    }

    .speech-bubble:after {
      content: '';
      position: absolute;
      top: 0;
      left: calc(0% + 4px);
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-bottom-color: $input-color;
      border-top: 0;
      border-left: 0;
      margin-left: -4px;
      margin-top: -5px;
    }

    .customer {
      background: $Headline-color;
      color: $white-color;
    }

    .customer:after {
      content: '';
      left: calc(100% - 2px);
      border: 6px solid transparent;
      border-top-color: $Headline-color;
      border-right: 0;
      margin-top: 33px;
    }
  }

  //////////////////////////////////////////////////single input
  .box-input {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-bottom: none;
  }

  .input {
    width: calc(100% - 100px);
    position: relative;
    padding-left: 20px;

    img {
      position: absolute;
      bottom: 8px;
      left: 10px;
      width: 15px;
      height: 25px;
      filter: invert(38%) sepia(0%) saturate(3104%) hue-rotate(133deg) brightness(102%) contrast(85%);
    }

    &::placeholder {
      padding-left: 15px;
    }

    &:focus {
      // background-image: none;
      text-indent: 0px;
    }
  }

  ////////////////////////////////////////////password
  .password {

    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;

    .input {
      width: 30%;
      margin: 0;
    }

    button {
      width: 25%;
      text-align: center;
      display: inline;
    }
  }
}

////////////////helper classes for modal size
.width50andh2pading {

  width: 50%;
  min-width: 650px;

  h2 {
    padding: 10px;
  }
}

.width25andh2pading {
  width: 25%;
  min-width: 250px;

  h2 {
    padding: 20px 15px;
  }
}

////////////////////quit
.quit {

  display: flex;
  justify-content: flex-end;

  button {
    width: 100px;
    margin: 20px;
    // text-align: center;
  }
}

//////////inactive button
.inactive {
  background-color: $Headline-color;
  transition: .3s;

  &:hover {
    background-color: $input-color;
  }
}

//////////////////////
.show {
  display: block;
  z-index: 1;
}

.disapear {
  display: none;
}

////////////////////////
.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.scroll-wrapper table {
  width: 100%;
  max-width: 100%;
}

.z-1 {
  z-index: 1;
  background-color: $menu-left-color;
  margin-right: auto;

  &:hover {
    background-color: $menu-left-color;
  }
}
